{% extends 'home/base.html' %}
{% block title %}普通本科高校深化创新创业改革情况统计表-登录{% endblock %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3" style="margin-top:100px">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-md-offset-5">
                    <h1 class="page-header">
                        登录
                    </h1>
                </div>
            </div> 

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">用户名</span>
                    <input type="text" class="form-control" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                    <input type="password" class="form-control" placeholder="请输入密码">
                </div>
            </div>
            <div style="text-align:right">
                <button type="submit" class="btn btn-success">登录</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
